{% extends "templates/base.html" %}
{% block content %}
<section id="index-section">
    <h1>Flux - Static Site Generator</h1>
    <p>
        Flux is an opinionated Static Site Generator written in Go programming language. It is a command line utility.
    </p>
    <p>
        Features (v1)
    </p>
    <ul>
        <li>Support for front matter</li>
        <li>Syntax highlighting</li>
        <li>Support for Jinja templates</li>
        <li>Support for Markdown files</li>
        <li>Archive lists</li>
        <li>Live reloading with http server</li>
        <li>Support for Pug</li>
        <li>Support for CSS language extensions</li>
    </ul>
</section>
{% endblock %}