<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ GetPath("style.scss") }}">
    {% if Title %}
        <title>{{ Title }}</title>
    {% else %}
        <title>{{ Flux.site.title }}</title>
    {% endif %}
</head>
<body>
    <header class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="header">
                <img src="{{ GetPath("flux.png") }}" alt="Flux">
                <div>
                    <a href="">Docs</a>
                    <a href="">CLI</a>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </header>
    {% block content %} {% endblock %}
    {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>